body{
    font-family: sans-serif Arial, Helvetica;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 15em;
    text-align: center;
    padding: 5%;
    margin-bottom: 5em;
}

form{
    margin-top: 2em;
}


button{
    color: white;
    background-color: rgba(7, 142, 7, 0.71);
    border: 1px;
    border-radius: 5px;
    width: 15%;
    margin-top:2%;
    padding: 10px;
}

input{
    border: none;
    background-color: bisque;
    padding: 6px;
    margin-top: 1%;
}

.lable{
    margin-top: 1%;
}